section {
    margin-right: 1%;
}

#s1 {
    margin-left: 1.5%;
}

section img {
    width: 90%;
    height: 25vh;
    margin-left: 5%;
}

#s1, #s2, #s3, #s4 {
    float:left;
    background: #7CC7EB;
    border: solid;
    border-width: thick;
    border-color: #F09E39;
    border-radius: 5px;
    height: 70vh;
    width: 22%;
}

#s4{
    width: 25%;
    margin-right: 0;
}

@media only screen and (min-width: 150px) and (max-width: 1250px) {
    
    #s1, #s2, #s3, #s4 {
        float: right;
        width: 97%;
        margin-top: 7px;
    }
    
    section img {
    width: 90%;
    height: 40vh;
}
}